body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem 0;
}

    header h1 {
        margin: 0;
    }

nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 1rem;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

main {
    padding: 2rem;
}

h2 {
    color: #007bff;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .producto img {
        max-width: 100%;
        height: auto;
    }

footer {
    background-color: #007bff;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
