body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

    header .logo {
        max-width: 150px;
    }

nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

main {
    padding: 20px;
}

.productos-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(20% - 40px);
    box-sizing: border-box;
    text-align: center;
}

    .producto img {
        max-width: 100%;
        height: auto;
    }

    .producto .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .producto .btn:hover {
            background-color: #0056b3;
        }
