/* Estilos existentes */

/* Estilos para la nueva sección de productos sueltos */
.producto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero h2 {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

.logo {
    max-width: 100px;
    height: auto;
}

.producto_suelto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
